@page "/supervisor-tasks"
@attribute [Authorize(Policy = "SupervisorPolicy")]

<h3>Supervisor Tasks</h3>
<ul>
    @foreach (var task in SupervisorTasks)
    {
        <li>@task</li>
    }
</ul>
@* update the code add the content *@
@code {
    private List<stri
    
    asf]sa[fsl., sa
        f\fps\l
        \g\o\s\
        gj
        \][ng> SupervisorTasks = new() { "Review Reports", "Assign Tasks", "Team Meeting" };
    sapofsaklf
}

